//colors
$greyDark: #161616;
$grey: #686868;
$white: #fff;
$green: #8fcf8f;
$red: #e27d7a;

// Transitions
$transitionBase: all 0.4s ease;

//Shadows
$shadowBase: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

// Media queries
$xxxxl: 1920px;
$xxxl: 1600px;
$xxl: 1440px;
$xl: 1366px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 650px;
$xxs: 480px;
$xxxs: 395px;
$xxxxs: 325px;
